<footer class="page-footer">
    <div class="footer-top">
        <div class="wrapper ">
            <div class="shipping">
                <a href="#" class="footer-btns">
                    <i class="fa fa-bus fa-lg" aria-hidden="true"></i>
                </a>
                <span>free shipping on orders over $100</span>
            </div>
            <div class="call">
                <a href="#" class="footer-btns">
                    <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                </a>
                <span>call us! toLl free- 409-8888-0099</span>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="wrapper">
            <section>
                <h3>Facebook</h3>
                <p>20000 Members</p>
                <a href="#" class="btn btn-sm like">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    Like
                </a>
                <div class="footer-middle__photos">
                    <a href="#" class="fb_photo"><img src="../img/fb_photo1.jpg" alt=""></a>
                    <a href="#" class="fb_photo"><img src="../img/fb_photo2.jpg" alt=""></a>
                    <a href="#" class="fb_photo"><img src="../img/fb_photo3.jpg" alt=""></a>
                    <a href="#" class="fb_photo"><img src="../img/fb_photo4.jpg" alt=""></a>
                    <a href="#" class="fb_photo"><img src="../img/fb_photo3.jpg" alt=""></a>
                    <a href="#" class="fb_photo"><img src="../img/fb_photo2.jpg" alt=""></a>
                    <a href="#" class="fb_photo"><img src="../img/fb_photo4.jpg" alt=""></a>
                    <a href="#" class="fb_photo"><img src="../img/fb_photo1.jpg" alt=""></a>
                </div>
                <p>Facebook Social plugin</p>
            </section>
            <section>
                <h3>From twitter</h3>
                <p class="from-twitter">
                    <a href="#" class="footer-btns">
                        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                    </a>
                    <span>Lorem Ipsum is simply dummy text <span class="blue">of the printing and typesetting</span> industry. Lorem Ipsum has been the</span>
                </p>
                <p class="from-twitter">
                    <a href="#" class="footer-btns">
                        <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                    </a>
                    <span>Lorem Ipsum is simply dummy text <span class="blue">of the printing and typesetting</span> industry. Lorem Ipsum has been the</span>
                </p>
            </section>
            <section>
                <h3>Information</h3>
                <p>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    Sed ultrices purus non.
                </p>
                <p>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    sodales sodales.
                </p>
                <p>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    Curabitur pretium dui vitae.
                </p>
                <p>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    Donec gravida mi in nisl
                </p>
                <p>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    Donec et lorem suscipit.
                </p>
                <p>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    faucibus leo condimentum.
                </p>
            </section>
            <section>
                <h3>Contact us</h3>
                <p>Leo Store <br>
                    Leopards media <br>
                    KVM Rpad, 4590GH <br>
                    +1 489-8888-0099 <br>
                    <a href="#">mail@email.com</a></p>
                <div class="soc-btns">
                    <a href="#" class="footer-btns">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="footer-btns">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="footer-btns">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="#" class="footer-btns">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
            </section>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper">
            <div class="copyright">&#169; Copyright 2013 Css Author, All Rights Reserved.</div>
            <div class="footer-right">
                <nav>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery & Returns</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>